@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background: linear-gradient(45deg, #fff1eb, #aee8db);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ************************ */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

.h1 {
  color: #56b090;
}

.contMD {
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ********************************************************* */
.listGanreItem {
  list-style: none;
  justify-content: space-around;
  
}
.wrapBtnImgMovDet {
  display: flex;
  flex-direction: column;
}

.navDet {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.castRewie {
  position: relative;
  box-shadow: 1px 1px #53eaae, 2px 2px #53eac4, 3px 3px #53eaea;
  background-color: #22ae8b;
  color: #fff1eb;
  outline: none;
  border: none;
  transition: all 0.1s ease-in;
  padding: 5px 10px;
  border-radius: 20px/60px;
  margin-bottom: 10px;
}

.castRewie:active {
  box-shadow: none;
  top: 3px;
  left: 3px;
}
.castRewieItm:hover {
  background-color: #88d122;
  transform: rotate(-10deg);
  color: #320960;
}
.castRewie:hover {
  background-color: #88d122;
  color: #320960;
}

.janrAddWrap {
  box-shadow: 1px 1px #53eaae, 2px 2px #53eac4, 3px 3px #53eaea;
  width: 500px;
  background: linear-gradient(45deg, #fff1eb, #aee8db);
  border-radius: 20px/60px;
  margin-top: 25px;
  padding-left: 45px;
}

/* *************************************** */
.rewieList {
  list-style: none;
}

.rewieName {
  color: #0f5e4a;
}

.rewieItm {
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
    0 2px 2px rgba(0, 0, 0, 0.3), 0 0 4px 1px rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 20px/60px;
  margin-bottom: 10px;
}

.detalWrapp {
  display: flex;
  flex-wrap: wrap;
}
.detalTxt {
  width: 600px;
  margin-left: 20px;
}
